# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Environment

# Data directories
data/bronze/*
data/silver/*
!data/bronze/.gitkeep
!data/silver/.gitkeep

# Logs
logs/*.log
airflow/logs/*
!airflow/logs/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Great Expectations
great_expectations/uncommitted/
great_expectations/checkpoints/.ge_store_backend_id

# Docker
*.pid

# Jupyter
.ipynb_checkpoints/

# Database
*.db
*.sqlite
